*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    
}
.logo{
    height: 70px;
    padding: 5px 10px  ;
    border-radius: 50%;
}
.icon-bar{
    background: green;
}
li a{
    font-size: 20px;
    font-weight: bold;
    color: green;
}
.col-sm-6 h1{
    color: darkorange;
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first{
    background-color: orange;
    color: black;
}
a.btn-second{
    background: transparent;
    border: 1px solid darkorange;
    color: #333;
}
.img-responsive{
    border-radius: 10px;
}
a.btn:hover{
    background: darkorange;
    border: none;
    color:#fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.6s;
}
.banner-info,.banner-image{
    margin: 30px 0;
}
